<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.pillreminder" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pill reminder</name>
    <description>A simple app to remind you to take the pill</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Astrid Entner
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="mdpi" src="/res/icon/android/icon_48.png" />
        <icon density="hdpi" src="/res/icon/android/icon_72.png" />
        <icon density="xhdpi" src="/res/icon/android/icon_96.png" />
        <icon density="xxhdpi" src="/res/icon/android/icon_114.png" />
        <icon density="xxxhdpi" src="/res/icon/android/icon_192.png" />
    </platform>
</widget>

