@font-face {
  font-family: "Lato";
  src: url(../../fonts/Lato-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

/*Colors Lightmode*/
body {
  --color-background: #d4d4d4;
  --color-font: #000000;
  padding: 0;
}

/*Colors Darkmode*/
body.invert {
  --color-background: #2e2e2e;
  --color-font: #ffffff;
}

body {
  font-family: "Lato";
  font-size: calc(1rem + 0.4vw);
  color: var(--color-font);
  background-color: var(--color-background);
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 8px;
  padding: 0;
}

a {
  text-decoration: none;
  color: #247ba0;
}

span {
  margin-left: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 15px;
  color: white;
}

.burger-menu {
  cursor: pointer;
}

.burger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

.navbar-text {
  flex-grow: 1;
  text-align: center;
}

#darkmode-lightmode-icon {
  max-width: 60px;
  max-height: 30px;
}

#tagesinfo {
  background-color: #cbd4c2;
  font-size: 19px;
}

/*----------START CALENDER CONTAINER----------*/
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 10px;
  color: #d36c6c;
  font-size: 35px;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color: #92a1d1;
  font-size: 20px;
  width: 110px;
}

#container {
  width: 770px;
  transform: scale(0.53) translate(-44%, -42%);
}

#weekdays {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #247ba0;
  font-size: 19px;
}

#weekdays div {
  width: 100px;
  padding: 10px;
}

#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #cbd4c2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day:hover {
  background-color: #e8faed;
}

.day + #currentDay {
  background-color: #e8f4fa;
}

.event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}

.padding {
  cursor: default !important;
  background-color: #fffcff !important;
  box-shadow: none !important;
}

#newEventModal,
#deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}

#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}

#cancelButton,
#deleteButton {
  background-color: #d36c6c;
}

#saveButton,
#closeButton {
  background-color: #92a1d1;
}

#eventText {
  font-size: 14px;
}

#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}
/*-----------END CALENDER CONTAINER-----------*/

/*----------START SLIDESHOW----------*/
.slideshow {
  width: 413px;
  height: 130px;
  position: relative;
}

.slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s;
}

.slide-bilder {
  width: 100%;
}

.slide-textbereich {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  font-family: sans-serif;
  padding: 1% 15% 0 15%;
}

.slide-ueberschrift {
  font-size: 10px;
}

.pfeil {
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  color: rgba(255, 255, 255, 50);
  user-select: none;
}

.pfeil-links {
  left: 0;
}

.pfeil-rechts {
  right: 0;
}

.indikatorenliste {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  list-style-type: none;
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.indikator {
  padding: 0 15px;
  user-select: none;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 1s;
}

.aktiv {
  opacity: 1;
}

/*-----------END SLIDESHOW-----------*/
/*----------START INFOSEITE----------*/
.ueberschrift {
  padding: 10px;
  color: #d36c6c;
  font-size: 28px;
}

.unterpunkt {
  padding: 10px;
  font-size: 18px;
}

#merksatz {
  padding: 10px;
  color: #92a1d1;
  font-size: 18px;
}

/*----------END SLIDESHOW----------*/
/*--------START AUFKLAPPTEXT--------*/
.ausklapptext-infoseite {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.arrow-infoseite {
  transition: transform 0.3s ease;
}
.infotext {
  overflow: hidden;
  height: 0;
  opacity: 0;
  white-space: nowrap;
  margin-left: 10px;
}

/*--------ENDE AUFKLAPPTEXT--------*/
